<div class="ranking-item-list d-flex">
    <div class="col-2 no-padding">
        <img src="assets/images/ranking.png" alt="" class="img-fluid">
    </div>
    <div class="col d-flex flex-column justify-content-between ranking-item-list-detail">
        <div>
            <div class="ranking-item-list-detail-title">
                The Trainee : พนักงานฝึกหัด
            </div>
            <div class="ranking-item-list-detail-description">
                เมื่อแฟมินิสต์ตัวแม่ หลุดไปอยู่ในนิยายไทยแท้สุดน้ำเน่า ที่แม้แต่เงาจันทร์ก็ไม่เห็น
            </div>
        </div>
        <div class="ranking-item-list-detail-by">
            โดย sereepap2029
        </div>
    </div>
</div>
