 <section id="ranking">
    <div class="container ranking">
        <h3 class="ranking-title text-center">
            Ranking
        </h3>
        <app-btn-view-all></app-btn-view-all>
    </div>
    <div class="ranking-type">
        <div class="container">
            <div class="row">
                <input type="radio" name="type" class="d-none ranking-type-input" id="view" checked>
                <label for="view" class="col-4 col-md-auto ranking-type-item">
                    <i class="fa fa-eye" aria-hidden="true"></i> View
                </label>
                
                <input type="radio" name="type" class="d-none ranking-type-input" id="sell" value="sell">
                <label for="sell" class="col-4 col-md-auto ranking-type-item">
                    <i class="fa fa-usd" aria-hidden="true"></i> Sell
                </label>
                
                <input type="radio" name="type" class="d-none ranking-type-input" id="rating" value="rating">
                <label for="rating" class="col-4 col-md-auto ranking-type-item">
                    <i class="fa fa-star-o" aria-hidden="true"></i> Rating
                </label>
                
                <div class="col-12 col-md-auto ranking-type-item active">
                    <select name="" id="" class="form-control ranking-type-item-category">
                        <option value="" selected disabled>Category</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="ranking-type-list">
        <div class="container">
            <app-timeline></app-timeline>
            <div class="row">
                <div class="col-12 col-md-6">
                    <app-sm-card></app-sm-card>
                </div>
                <div class="col-12 col-md-6">
                    <app-sm-card></app-sm-card>
                </div>
                <div class="col-12 col-md-6">
                    <app-sm-card></app-sm-card>
                </div>
                <div class="col-12 col-md-6">
                    <app-sm-card></app-sm-card>
                </div>
            </div>
        </div>
		
    </div>
</section>