<div class="container">
	<app-title text="เงื่อนไขการเป็นนักเขียนนิยาย" [ngStyle]="{'text-align':'center'}"></app-title>
	<div class="detail">
		<p><strong>ข้อตกลงและเงื่อนไขการเป็นนักเขียน</strong></p>

		<p>ท่านรับรองว่าท่านเป็นเจ้าของลิขสิทธิ์ในคอนเทนต์(นิยามตามข้างล่างนี้) แต่เพียงผู้เดียว และไม่เคยมีการทำสัญญา</p>
	
		<p>หรือข้อตกลงใดๆกับบุคคลอื่นในการจำกัดสิทธิของท่านในการโพสต์คอนเทนต์บนเว็บไซต์ JamPlay แต่อย่างใด</p>
	
		<p>
			<br>
		</p>
	
		<p>ท่านรับรองว่าผลงานของท่านที่นำมาโพสต์ ลงใน JamPlay ซึ่งดำเนินการโดย บริษัท คีย์สตรีม จำกัด (&ldquo;บริษัท&rdquo;) ไม่ว่าจะเป็นในส่วนของเนื้อ</p>
	
		<p>เรื่อง ภาพวาด ลวดลาย สัญลักษณ์ เครื่องหมาย ตลอดจนงานเขียนไม่ว่าในส่วนใดๆก็ตาม (&quot;คอนเทนต์&quot;) จะต้องไม่มีเนื้อหาหรือแสดงใน</p>
	
		<p>ลักษณะใดๆที่ต้องห้ามดังที่ระบุไว้ข้างล่างนี้</p>
	
		<p>
			<br>
		</p>
	
		<p>หากบริษัทพิจารณาแล้วและเห็นว่าคอนเทนต์ของท่านมีลักษณะที่ขัดต่อข้อกำหนดและเงื่อนไขดังที่ระบุไว้ข้างล่างนี้ บริษัท อาจปฏิเสธการ</p>
	
		<p>เผยแพร่หรือแสดงคอนเทนต์ของท่านบน JamPlay และหากบริษัทพิจารณาว่าการเผยแพร่หรือแสดงคอนเทนต์ของท่าน อาจก่อให้เกิดความ</p>
	
		<p>เสียหายใดๆต่อบริษัท บริษัทอาจลบหรือระงับการ โพสต์ คอนเทนต์ ของท่านตลอดจนการใช้งาน JamPlay ได้ทันทีและท่านจะต้องรับผิดชอบ</p>
	
		<p>ต่อความเสียหายใดๆที่เกิดขึ้นกับบริษัทและบุคคลอื่นที่เกี่ยวข้องทั้งสิ้น</p>
	
		<p>
			<br>
		</p>
	
		<p>คอนเทนต์ที่ห้ามโพสต์</p>
	
		<p>คอนเทนต์ที่มีเนื้อหาไม่เหมาะสม</p>
	
		<p>เนื้อหาที่สร้างความเสียหายต่อบุคคลใดๆหรือกลุ่มบุคคลใดๆหรือนิติบุคคลใดๆ (&quot;บุคคลอื่น&quot; )</p>
	
		<p>เนื้อหาที่เป็นการใส่ร้ายหมิ่นประมาท ดูหมิ่นบุคคลอื่น</p>
	
		<p>เนื้อหาที่ละเมิดความเป็นส่วนตัวของบุคคลอื่น</p>
	
		<p>เนื้อหาที่ละเมิดสิทธิส่วนบุคคล ละเมิดสิทธิการใช้งานและสิทธิในการทำให้ปรากฎต่อสาธารณชนของบุคคลอื่น</p>
	
		<p>เนื้อหาที่แบ่งแยกความเป็นมนุษย์ สัญชาติ เชื้อชาติ ศาสนา ความเชื่อ รสนิยมทางเพศ สถานทางสังคม เชื้อสายและอาชีพของบุคคลอื่น</p>
	
		<p>เนื้อหาที่ให้ข้อมูลอันเป็นเท็จเกี่ยวกับบุคคลอื่น</p>
	
		<p>เนื้อหาที่ทำลายความน่าเชื่อถือของบุคคลอื่น</p>
	</div>
	<app-checkbox textLabel="ยอมรับเงือนไขและข้อตกลงในการลงนิยาย"></app-checkbox>
	<app-button text="ยอมรับเงือนไขและข้อตกลง"></app-button>
</div>
