<section id="bookmark">
	<div class="container bookmark">
		<div class="row">
            <h3 class="bookmark-title text-center col-12">
                <span>My</span> Bookmark
            </h3>
            <app-btn-view-all></app-btn-view-all>
        </div>
        <div class="row">
            <app-list-card [ngClass]="'col-list'"></app-list-card>
            <app-list-card [ngClass]="'col-list'"></app-list-card>
            <app-list-card [ngClass]="'col-list'"></app-list-card>
            <app-list-card [ngClass]="'col-list'"></app-list-card>
            <app-list-card [ngClass]="'col-list'"></app-list-card>
        </div>
	</div>
</section>