<nav class="navigation">
	<div class="container">
		<div class="navigation-group">
		<ul class="d-flex">
			<a routerLink="home" routerLinkActive="active">
				<li>Home</li>
			</a>
			<a routerLink="/rank" routerLinkActive="active">
				<li>Rank</li>
			</a>
			<a routerLink="new" routerLinkActive="active">
				<li>New</li>
			</a>
			<a routerLink="popular" routerLinkActive="active">
				<li>Popular</li>
			</a>
			<a routerLink="recommend" routerLinkActive="active">
				<li>Recommend</li>
			</a>
			<a routerLink="reviews" routerLinkActive="active">
				<li>Reviews</li>
			</a>
			<a routerLink="category" routerLinkActive="active">
				<li>Category</li>
			</a>
			<a routerLink="redeem" routerLinkActive="active">
				<li>How to Redeem</li>
			</a>
		</ul>
		</div>
	</div>
</nav>