<div class="row">
	<div class="col-12 col-md-2 text-center pb-2">
		<img [src]="'assets/images/bookmark.png'" alt="" class="img-fluid">
	</div>
	<div class="col d-flex flex-column justify-content-between">
		<div>
			<h4 class="title">
				The Endeavor
			</h4>
			<p>
				"เปราะบาง เย้ายวน และเร่าร้อน" เป็นนิยามที่ดีที่สุดของความรักแห่งบุรุษ และอิสตรีในเมืองใหญ่ <br>
				ท่ามกลางผู้คนที่มากมายสับสน
			</p>
		</div>
		<div>
			<i class="fa fa-user-circle" aria-hidden="true"></i> sereepap2029
			<div class="d-flex">
				<app-tag-item [text]="'ดรามา'"></app-tag-item>
				<app-tag-item [text]="'ดรามา'"></app-tag-item>
				<app-tag-item [text]="'ดรามา'"></app-tag-item>
				<app-tag-item [text]="'ดรามา'"></app-tag-item>
				<app-tag-item [text]="'ดรามา'"></app-tag-item>
			</div>
		</div>
		<ul class="d-flex flex-wrap flex-md-nowrap">
			<li class="col-6 col-md-auto">
				<i class="fa fa-eye" aria-hidden="true"></i>
				5,432
			</li>
			<li class="col-6 col-md-auto">
				<i class="fa fa-book" aria-hidden="true"></i>
				53 ตอน
			</li>
			<li class="col-6 col-md-auto">
				ยังไม่จบ
			</li>
			<li class="col-6 col-md-auto">
				<i class="fa fa-calendar-o" aria-hidden="true"></i>
				อัปเดตล่าสุด 21 นาทีที่แล้ว
			</li>
		</ul>
	</div>
</div>
