<div class="row title">
	<div class="col d-flex align-items-center">
		<a href="">
			<h4>สารบัญ</h4>
		</a>
		<span>53 ตอน (ยังไม่จบ)</span>
	</div>
	<div class="col-2" *ngIf="chapter">
		<app-button-icon
			[configs]="{text:'เพิ่มตอน', color: 'blue'}"
		></app-button-icon>
	</div>
	<div class="col-2" *ngIf="chapter">
		<app-button-icon
			[configs]="{text:'ตั้งเป็นเล่มจบ', color: 'default'}"
		></app-button-icon>
	</div>
</div>
<div class="row chapter-list">
	<div class="col-1 col-md-1" *ngIf="chapter">
		<input type="radio" name="chapter" id="chapter-1">
		<label for="chapter-1"></label>
	</div>
	<div class="col-3 col-md-2">
		ตอนที่ 1
	</div>
	<div class="col col-md-auto">
		เลือกผิดหรือเปล่านะ (1)
	</div>
	<div class="col-3 col-md-1">
		<i class="fa fa-eye" aria-hidden="true"></i>
		543
	</div>
	<div class="col-3 col-md-3 text-center d-none d-md-block">
		<i class="fa fa-comment" aria-hidden="true"></i>
		53 แสดงความคิดเห็น
	</div>
</div>
<div class="row chapter-list">
	<div class="col-1 col-md-1" *ngIf="chapter">
		<input type="radio" name="chapter" id="chapter-1">
		<label for="chapter-1"></label>
	</div>
	<div class="col-3 col-md-2">
		ตอนที่ 1
	</div>
	<div class="col col-md-auto">
		เลือกผิดหรือเปล่านะ (1)
	</div>
	<div class="col-3 col-md-1">
		<i class="fa fa-eye" aria-hidden="true"></i>
		543
	</div>
	<div class="col-3 col-md-3 text-center d-none d-md-block">
		<i class="fa fa-comment" aria-hidden="true"></i>
		53 แสดงความคิดเห็น
	</div>
</div>
<div class="row chapter-list">
	<div class="col-1 col-md-1" *ngIf="chapter">
		<input type="radio" name="chapter" id="chapter-1">
		<label for="chapter-1"></label>
	</div>
	<div class="col-3 col-md-2">
		ตอนที่ 1
	</div>
	<div class="col col-md-auto">
		เลือกผิดหรือเปล่านะ (1)
	</div>
	<div class="col-3 col-md-1">
		<i class="fa fa-eye" aria-hidden="true"></i>
		543
	</div>
	<div class="col-3 col-md-3 text-center d-none d-md-block">
		<i class="fa fa-comment" aria-hidden="true"></i>
		53 แสดงความคิดเห็น
	</div>
</div>
<div class="row chapter-list">
	<div class="col-1 col-md-1" *ngIf="chapter">
		<input type="radio" name="chapter" id="chapter-1">
		<label for="chapter-1"></label>
	</div>
	<div class="col-3 col-md-2">
		ตอนที่ 1
	</div>
	<div class="col col-md-auto">
		เลือกผิดหรือเปล่านะ (1)
	</div>
	<div class="col-3 col-md-1">
		<i class="fa fa-eye" aria-hidden="true"></i>
		543
	</div>
	<div class="col-3 col-md-3 text-center d-none d-md-block">
		<i class="fa fa-comment" aria-hidden="true"></i>
		53 แสดงความคิดเห็น
	</div>
</div>