<section id="recomment">
	<div class="container recomment">
		<div class="row">
            <h3 class="recomment-title text-center col-12">
                <span>Recomment</span>
            </h3>
            <app-btn-view-all></app-btn-view-all>
        </div>
        <div class="row">
            <app-list-card [ngClass]="'col-list'"></app-list-card>
            <app-list-card [ngClass]="'col-list'"></app-list-card>
            <app-list-card [ngClass]="'col-list'"></app-list-card>
            <app-list-card [ngClass]="'col-list'"></app-list-card>
            <app-list-card [ngClass]="'col-list'"></app-list-card>
        </div>
	</div>
</section>