<section id="tag">
    <div class="container">
        <ul class="d-flex align-items-center">
            <i class="fa fa-tag" aria-hidden="true"></i> Hot Tag
            <a href="">
                <li>ผจญภัย</li>
            </a>
            <a href="">
                <li>แฟนตาซี</li>
            </a>
            <a href="">
                <li>ดราม่า</li>
            </a>
            <a href="">
                <li>นิยายรัก</li>
            </a>
            <a href="">
                <li class="active">ย้อนยุค</li>
            </a>
            <a href="">
                <li>จีนกำลังภายใน</li>
            </a>
            <a href="">
                <li>ผจญภัย</li>
            </a>
            <a href="">
                <li>แฟนตาซี</li>
            </a>
            <a href="">
                <li>ดราม่า</li>
            </a>
        </ul>
    </div>
</section>