<section class="pink" >
	<div class="container">
		<app-book-detail></app-book-detail>
	</div>
</section>
<section class="green">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 m-xs-b-2 col-md-2 p-c-5">
				<a routerLink="/read-book">
					<app-button-icon 
						[configs]="{text: 'เริ่มอ่านนิยาย',color: 'blue'}" >
					</app-button-icon>
				</a>
			</div>
			<div class="col-12 m-xs-b-2 col-md-2 p-c-5">
				<app-button-icon 
					[configs]="{text: 'เก็บเข้าชั้นหนังสือ',color: 'green', icon: 'bookmark'}" >
				</app-button-icon>
			</div>
			<div class="col-12 m-xs-b-2 col-md-2 p-c-5">
				<app-button-icon 
					[configs]="{text: 'เริ่มอ่านนิยาย',color: 'green', icon: 'share-alt'}" >
				</app-button-icon>
			</div>
		</div>
	</div>
</section>
<section class="pink">
	<div class="container">
		<p>
				มุรากามิ ยูสึเกะเด็กหนุ่มผู้มีปมในใจ ถูกส่งไปยังต่างโลก แถมได้โปรโมชั่นกลายเป็นเทพ จะเกิดอะไรขึ้น เมื่อเด็กหนุ่ม 
				คนหนึ่งที่ผ่านการแนะแนวอาชีพเทพ 101 อย่างกระชับสุดๆ แล้วต้องมาเป็นเทพอยู่ในโลกแฟนตาซี ตามติดชีวิตเทพ
				ยูสึเกะที่ใช้ชีวิตร่วมกันกับมนุษย์เดินดิน กับความชิวของเหล่าทวยเทพและจอมมาร ตามคำจำกัดความสั้นๆ ตามนิยาย
				เกิดใหม่ต่างโลก สูตรโกง พระเอกเก่ง และ ฮาเร็ม
		</p>
		<app-button text="อ่านเนื้อหาต่อทั้งหมด" ></app-button>
	</div>
</section>
<section>
	<div class="container">
		<app-review></app-review>
	</div>
</section>
<section class="green">
	<div class="container">
		<app-chapter></app-chapter>
	</div>
</section>
<section class="pink">
	<div class="container">
		<app-related></app-related>
	</div>
</section>