<div class="row">
    <input type="radio" id="daily" value="daily" name="list" class="d-none ranking-type-list-input" checked>
    <label for="daily" class="col text-center ranking-type-list-item">
        รายวัน
    </label>
    <input type="radio" id="weekly" value="weekly" name="list" class="d-none ranking-type-list-input">
    <label for="weekly" class="col text-center ranking-type-list-item">
        รายสัปดาห์
    </label>
    <input type="radio" id="monthly" value="monthly" name="list" class="d-none ranking-type-list-input">
    <label for="monthly" class="col text-center ranking-type-list-item">
        รายเดือน
    </label>
    <input type="radio" id="forever" value="forever" name="list" class="d-none ranking-type-list-input">
    <label for="forever" class="col text-center ranking-type-list-item">
        ตลอดการ
    </label>
</div>