<div class="container">
	<app-title text="สร้างนิยายใหม่"></app-title>
	<form action="" enctype="multipart/form-data">
		<div class="row">
			<div class="col-12 col-sm-3">
				<input type="file" class="d-none" id="img">
				<label for="img" class="img d-flex flex-column text-center align-items-center">
					<p> อัพโหลดปกนิยาย </p>
					<i class="fa fa-camera" aria-hidden="true"></i> <br>
					<p>
						อัพโหลดรูปที่นี้ <br>
						ขนาดรูป 1000 X 1414 pixels <br>
						ขนาดไม่เกิน 2 Mb ไฟล์ .jpg
					</p>
				</label>
			</div>
			<div class="col-12 col-sm-9">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="ชื่อนิยาย">
					</div>
					<div class="form-group">
						<textarea rows="10" class="form-control" placeholder="คำโปรยนิยาย"></textarea>
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-3">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="ชื่อนิยาย">
				</div>
			</div>
			<div class="col-12 col-sm-9">
				<div class="row">
					<div class="col-12 col-sm-6">
						<div class="form-group">
							<select class="form-control">
								<option value="" disable="disable" selected="selected">
									เลือกหมวดหมู่นิยาย
								</option>
							</select>
						</div>
					</div>
					<div class="col-12 col-sm-6">
						<div class="form-group">
							<select class="form-control">
								<option value="" disable="disable" selected="selected">
									เลือกภาษาที่แสดงผล
								</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<app-editor></app-editor>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="form-group">
					<input type="text" id="tags" placeholder="แท็ก">
				</div>
			</div>
		</div>
		<app-button text="ยอมรับเงือนไขและข้อตกลง"></app-button>
	</form>
</div>