<div class="row align-items-center">
	<div class="col">
		รีวิวโดยผู้อ่าน : <a href="http://">52 คน</a>
	</div>
	<div class="col col-md-2">
		<app-button-icon
			[configs]="{text: 'เขียนรีวิว', color: 'blue', icon: 'pencil-square'}"
		></app-button-icon>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-12 review-list">
		<div class="row">
			<div class="col-2 text-center d-none d-md-block">
				<img [src]="'assets/images/user.png'" alt="">
			</div>
			<div class="col-12 col-md-8">
				<a href="http://">
					<h4>Teenutchapon1</h4>
				</a>
				<p>
					เป็นอีกเรื่องที่แต่งได้ค่อนข้างดี ตอนอ่านแรกๆนึกว่านิยายแปลเสียด้วยซ้ำ ภาษาที่ใช้ก็อ่านง่าย มีมุขตลกบาง
					ประปราย จินตนาการตามได้ทุกฉาก ผมชอบคับ พระเอกก็ไม่ใช่สัตว์กินพืช ฮาเร็มจัดเต็ม!!!!
				</p>
			</div>
			<div class="col-12 col-md-2 text-md-center pb-2">
				32 วันที่แล้ว
			</div>
		</div>
		<div class="row">
			<div class="col-2 text-center d-none d-md-block">
				<img [src]="'assets/images/user.png'" alt="">
			</div>
			<div class="col-12 col-md-8">
				<a href="http://">
					<h4>Teenutchapon1</h4>
				</a>
				<p>
					เป็นอีกเรื่องที่แต่งได้ค่อนข้างดี ตอนอ่านแรกๆนึกว่านิยายแปลเสียด้วยซ้ำ ภาษาที่ใช้ก็อ่านง่าย มีมุขตลกบาง
					ประปราย จินตนาการตามได้ทุกฉาก ผมชอบคับ พระเอกก็ไม่ใช่สัตว์กินพืช ฮาเร็มจัดเต็ม!!!!
				</p>
			</div>
			<div class="col-12 col-md-2 text-md-center pb-2">
				32 วันที่แล้ว
			</div>
		</div>
	</div>
</div>
<hr>
<app-button text="อ่านรีวิวเพิ่มทั้งหมด" ></app-button>
