<div class="container">
	<div class="row align-items-center">
		<div class="col-12 col-md-5">
			<app-title text="นิยายยอดนิยม"></app-title>
		</div>
		<div class="col-6 col-md-auto">
			<app-select-category for='category' ></app-select-category>
		</div>
		<div class="col-6 col-md-auto">
			<app-select-category for='language' ></app-select-category>
		</div>
		<div class="col-1 d-none d-md-flex align-items-center btn-list">
			<app-view-list type="large" [ngClass]="'p-r'" (click)="view('list')" ></app-view-list>
			<app-view-list type="list" [ngClass]="'p-l'" (click)="view('large')"></app-view-list>
		</div>
	</div>
	<div class="row" *ngIf="show=='list'">
		<app-list-card
			[ngClass]="'col-list'" 
			*ngFor="let i of numbers"
		>
		</app-list-card>
	</div>
	<div class="row" *ngIf="show=='large'">
		<div class="col-12 col-md-6"
			*ngFor="let i of numbers"
		>
			<app-sm-card></app-sm-card>
		</div>
	</div>
</div>
