<header>
	<div class="container">
		<app-navbar></app-navbar>
	</div>
</header>
<app-navigation></app-navigation>
	<router-outlet></router-outlet>
<footer>
	<div class="container footer">
		<div class="footer-logo">
			<img src="../../assets/images/logo-footer.png" alt="" class="img-fluid">
		</div>
		<div class="footer-nav">
			<ul class="d-flex">
				<a href="">
					<li>Home</li>
				</a>
				<a href="">
					<li>Rank</li>
				</a>
				<a href="">
					<li>New</li>
				</a>
				<a href="">
					<li>Popular</li>
				</a>
				<a href="">
					<li>Recommend</li>
				</a>
				<a href="">
					<li>Reviews</li>
				</a>
				<a href="">
					<li>Category</li>
				</a>
				<a href="">
					<li>How to Redeem</li>
				</a>
			</ul>
		</div>
		<div class="footer-nav">
			<ul class="d-flex">
				<a href="">
					<li>คู่มือนักเขียน</li>
				</a>
				<a routerLink="rule">
					<li>เงื่อนไขการเป็นนักเขียน</li>
				</a>
				<a href="">
					<li>ข้อตกลงการใช้บริการ</li>
				</a>
				<a href="">
					<li>นโยบายความเป็นส่วนตัว</li>
				</a>
			</ul>
		</div>
		<div class="footer-contact-us">
			<h6>ติดต่อเรา : info@maread.com</h6>
			<h6>Copyright © 2017 Maaread. All rights reserved.</h6>
		</div>
	</div>
</footer>