<section class="pink">
	<div class="container">
		<app-book-detail></app-book-detail>
	</div>
</section>
<section class="green">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-2 p-c-5">
				<a routerLink="/read-book">
					<app-button-icon 
						[configs]="{text: 'แก้ไขหนังสือ',color: 'blue'}" >
					</app-button-icon>
				</a>
			</div>
			<div class="col-2 p-c-5">
				<app-button-icon 
					[configs]="{text: 'แชร์ไว้อ่าน',color: 'green', icon: 'share-alt'}" >
				</app-button-icon>
			</div>
			<div class="col-2 p-c-5">
				<app-button-icon 
					[configs]="{text: 'ลบหนังสือ',color: 'green', icon: 'trash'}" >
				</app-button-icon>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<p>
				มุรากามิ ยูสึเกะเด็กหนุ่มผู้มีปมในใจ ถูกส่งไปยังต่างโลก แถมได้โปรโมชั่นกลายเป็นเทพ จะเกิดอะไรขึ้น เมื่อเด็กหนุ่ม 
				คนหนึ่งที่ผ่านการแนะแนวอาชีพเทพ 101 อย่างกระชับสุดๆ แล้วต้องมาเป็นเทพอยู่ในโลกแฟนตาซี ตามติดชีวิตเทพ
				ยูสึเกะที่ใช้ชีวิตร่วมกันกับมนุษย์เดินดิน กับความชิวของเหล่าทวยเทพและจอมมาร ตามคำจำกัดความสั้นๆ ตามนิยาย
				เกิดใหม่ต่างโลก สูตรโกง พระเอกเก่ง และ ฮาเร็ม
		</p>
	</div>
</section>
<section>
	<div class="container">
		<app-chapter chapter="true"></app-chapter>
	</div>
</section>
