.sidebar {
    border-right: 1px solid #eee;
}
.list-group-item.active {
    background-color: rgb(245,245,245);
    border: none;
    color: rgb(80, 224, 187);
    border-left: 5px solid rgb(80, 224, 187);
}
.list-group-item {
    background-color: transparent;
    border: none;
    border-left: 5px solid rgba(80, 224, 187, 0);
}
.form-control, select.form-control {
    padding: 9px 12px;
    background-color: rgb(247, 247, 247);
    color: rgb(51, 51, 51);
    height: 44px !important;
}

@media only screen and (max-width: 576px) {
    .sidebar .list-group {
        display: flex;
        flex-direction: row;
    }
    .sidebar .list-group .list-group-item {
        width: calc(100% / 2);
    }
    .py-5 {
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
    }
    .img-profile {
        max-width: 50%;
    }
    .p-sm-none {
        padding: 0 !important;
    }
}