<div class="container">
    <div class="row">
        <div class="col-12 col-md-2 py-5 px-2 sidebar">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">โปรไฟล์</a>
                <a class="list-group-item list-group-item-action" id="list-account-list" data-toggle="list" href="#list-account" role="tab" aria-controls="account">จัดการบัญชี</a>
            </div>
        </div>
        <div class="col-12 col-md-10 py-5">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active pl-4 p-sm-none" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <div class="row flex-md-row flex-column flex-column-reverse">
                        <div class="col-12 col-md-7">
                            <h3><strong>โปรไฟล์</strong></h3>
                            <form action="">
                                <div class="form-group">
                                    <label for="nike-name">ชื่อเล่น</label>
                                    <input type="text" class="form-control" id="nike-name" placeholder="ชื่อเล่น">
                                </div>
                                <label>ชื่อ - สกุล</label>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First name">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Last name">
                                        </div>
                                    </div>
                                </div>
                                <label>วันเกิด</label>
                                <div class="form-row">
                                    <div class="col form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">วันที่</option>
                                        </select>
                                    </div>
                                    <div class="col form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">เดือน</option>
                                        </select>
                                    </div>
                                    <div class="col form-group">
                                        <select name="" id="" class="form-control">
                                            <option value="">ปี</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone">เบอร์โทรศัพท์</label>
                                    <input type="text" class="form-control" id="phone" placeholder="เบอร์โทรศัพท์">
                                </div>
                                <app-button text="บันทึก" ></app-button>
                            </form>
                        </div>
                        <div class="col-12 col-md-5">
                            <div class="text-center">
                                <img src="https://images.vexels.com/media/users/3/147101/isolated/preview/b4a49d4b864c74bb73de63f080ad7930-instagram-profile-button-by-vexels.png" class="rounded img-fluid img-profile" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade pl-4 p-sm-none" id="list-account" role="tabpanel" aria-labelledby="list-account-list">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h3><strong>จัดการบัญชี</strong></h3>
                            <h4>รหัสผ่าน</h4>  
                            <div class="col-12 col-md-6 px-0 mb-3">
                                <app-button-icon 
                                    [configs]="{text: 'ตั้งรหัสผ่าน', color: 'green', icon: ''}"
                                    (click)="showAlert()">
                                </app-button-icon>
                            </div>
                            <form action="">
                                <h4>เปลียนอีเมล</h4>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="อีเมล">
                                </div>
                                <div class="col-12 col-md-6 px-0 mb-3">
                                    <app-button-icon 
                                        [configs]="{text: 'เปลี่ยนอีเมลใหม่', color: 'green', icon: ''}">
                                    </app-button-icon>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-alert [hidden]="!alert"></app-alert>
