<section id="news">
	<div class="container new">
		<app-banner-header></app-banner-header>
        <div class="new-header">
            <h3 class="new-title text-center">
                New
            </h3>
            <app-btn-view-all></app-btn-view-all>
        </div>
        <div class="row">
            <app-list-card [ngClass]="'col-list'"></app-list-card>
            <app-list-card [ngClass]="'col-list'"></app-list-card>
            <app-list-card [ngClass]="'col-list'"></app-list-card>
            <app-list-card [ngClass]="'col-list'"></app-list-card>
            <app-list-card [ngClass]="'col-list'"></app-list-card>
        </div>
	</div>
</section>